 
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
    /*  PANTALLA DE INICIO */

#pantallaPrincipal{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/img/pantallaInicio.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenedorIcono{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#iconoParteSuperior{
    height: 40%;
    width: 100%;
}
#iconoParteInferior{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
h1{
    color: yellow;
    margin-right: 1em;
    margin-bottom: -2.8em;
    text-align: center;
}
#logo{
    margin-right: 2em;
}

    /* PANTALLA SELECCION DE PERSONAJE */

#pantallaSeleccionPj{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    background-image: url(/img/pantallaSeleccion.png);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pantallaSeleccionSuperior{
    height: 60%;   
}
#pantallaSeleccionInferior{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
                    
        /* PERSONAJES SELECCIONABLES */

.gif{
    height: 13em;
}
#bison{
    margin-right: 5em;
}
#ken{
    margin-right: 2em;
}
#fight{
    height: 15em;
    margin-right: 2em;
}
#ryu{
    margin-right: 5em;
}
        /* PANTALLA DE LUCHA */

#pantallaLucha{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    background-image: url(/img/imagenFondoCombate.png);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    /* ZONA IZQUIERDA PANTALLA DE LUCHA  */

#luchaIz{
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#luchadorIzPelea{
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#vidaLuchadorIz{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
#marcadorVidaLuchadorIz{
    height: 4em;
    width: 25em;
    border-radius: 5em;
    background-color: green;
}
#nombreVidaLuchadorIz{
    height: 2em;
    width: 20em;
    text-align: start;
    display: flex;
    align-items: center;
    background-color: red;
}
#iconoPegarLuchadorIz{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

        /* ZONA CENTRO PANTALLA DE LUCHA  */

#luchaCentro{
    height: 100vh;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#versus{
    height: 15em;
}

        /* ZONA DERECHA PANTALLA DE LUCHA */

#luchaDrch{
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#luchadorDrchPelea{
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#vidaLuchadorDrch{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
#marcadorVidaLuchadorDrch{
    height: 4em;
    width: 25em;
    border-radius: 5em;
    background-color: green;
}
#nombreVidaLuchadorDrch{
    height: 2em;
    width: 20em;
    text-align: start;
    display: flex;
    align-items: center;
    background-color: red;
}
#iconoPegarLuchadorDrch{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}