 
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
    /*  PANTALLA DE INICIO */

#pantallaPrincipal{
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/img/pantallaInicio.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenedorIcono{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#iconoParteSuperior{
    height: 40%;
    width: 100%;
}
#iconoParteInferior{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
h1{
    color: yellow;
    margin-right: 1em;
    margin-bottom: -2.8em;
    text-align: center;
}
#logo{
    margin-right: 2em;
}

    /* PANTALLA SELECCION DE PERSONAJE */

#pantallaSeleccionPj{
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    background-image: url(/img/pantallaSeleccion.png);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pantallaSeleccionSuperior{
    height: 60%;   
}
#pantallaSeleccionInferior{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
                    
        /* PERSONAJES SELECCIONABLES */

.gif{
    height: 13em;
}
#bison{
    margin-right: 5em;

}
#ken{
    margin-right: 3em;

}
#fight{
    margin-right: 2em;
    height: 15em;
}
#ryu{
    margin-right: 6em;
}
#chunlee{

}